@page
@model StudentDB.Pages.StudentDetails.DetailsIndexModel
@{
}

<br>
<h2>List of Students</h2>
<table class="table">
    <thead>
       <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Description</th>
  </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listStudents)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.address</td>
                <td>@item.description</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/StudentDetails/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/StudentDetails/Delete?id=@item.id">Delete</a>
                </td>

            </tr>

        }
    </tbody>
</table>
